.profile {
    max-width: 400px;
    margin:0 auto;
    padding-bottom:50px
}
.button-group {
    display:flex;
    gap:15px;
}
.bgw {
    background-color: white;
    padding: 30px;
}
.collapse {
    overflow: hidden;
    transition: all 500ms ease-in-out;
    
    &.open {
        visibility: visible;
        top:0;
    }
    &.close {
        visibility: hidden;
        top:-500px;
        height:0px; 
        padding: 0px;
        margin-top: 0;
    }
}